.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 990;
  }
  
  .modal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(206, 204, 204, 0.85);
  }
  
  .modal .modal_content {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    text-align: center;
    border-radius: 4px;
    width: 80%; /* This just a default width */
  }
  
  .modal .modal_content > h2 {
    position: absolute;
    left: 50%;
    top: 10px;
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0 20px;
  }
  
  .modal .modal_content .buttons_wrapper {
    padding: 20px;
  }
  
  modal .content-container {
    display:block;
    font-size: 12px;
    font-weight: normal;
    padding: 20px 0 0 4.25%;
    margin-bottom:10px;
  }
  
  .modal .close_modal {
    position: absolute;
    left: 45%;
    font-weight: bold;
    bottom: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.75;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
  }
  
  .modal .close_modal:hover {
    opacity: 0.9;
  }