* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.white, .white a {
  color: #fff;
}

.label {
  display: inline-block;
  margin-left: 10px;
  align-content: left;
}

.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0; /* I added this after I posted my reply */
  vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}

#image {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-image: url('/images/logo.png'); 
}

#image-inner {
  display: block;
  height: 0;
  padding-top: 83.3%;
}